.content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.CTA-container {
	width: 310px;
	margin: 20px 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.CTA-container .CTA-notice:nth-child(odd):last-child {
		grid-column: span 2;
		justify-self: center;
}

.CTA-notice {
	height: 145px;
	width: 145px;
	cursor: pointer;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-weight: bold;
}